<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <title>Home Page</title>
</head>
<body>
    <h1>Online Recipe Book</h1>
    <ul>
        <li><a href="/static/recipes/CoffeeCake.html">Coffee cake</a></li>
        <li><a href="/static/recipes/OreoBrownie.html">Oreo brownie</a></li>
        <li><a href="/static/recipes/CoffeeFrosting.html">Coffee Frosting</a></li>
        <li><a href="/static/recipes/ChocolateMouse.html">Coffee Frosting</a></li>
        <!-- Add more recipe links as needed -->
    </ul>
</body>
</html>
